html, body, #app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #181820;
  color: #fff;
}

.default-focus:focus-visible {
	@apply ring-2;
	@apply ring-offset-primary-background;
	@apply ring-primary-default;
	@apply ring-offset-4;
	@apply ring-opacity-70;
}

.default-focus:focus {
	outline: 0;
}
